{% extends "producto/base_producto.html" %}

{% load  static %}

{% block panel-content %}

<div class="grid-x grid-margin-x align-center">
  <h3 class="cell" style="margin-bottom: 1em; text-align: center;">Datos de Producto</h3>  
  <form class="cell medium-9 grid-x grid-margin-x" method="POST">{% csrf_token %}
      
    <div class="cell medium-6">
      <label>Codigo de barras:</label>
      <div class="input-group">
        <span class="input-group-label"><i class="fi-align-justify"></i></span>
        {{ form.barcode }}
      </div>
      {% for error in form.barcode.errors %}
        <p class="cell" style="color: red;">
          {{ error|escape }}
        </p>
      {% endfor %}
    </div>
    <div class="cell medium-6">
      <label>Nombre:</label>
      <div class="input-group">
        <span class="input-group-label"><i class="fi-book"></i></span>
        {{form.name}}
      </div>
    </div>

    <div class="cell medium-6">
      <label>Proveedor:</label>
      <div class="input-group">
        {{form.provider}}
      </div>
    </div>
    <div class="cell medium-6">
      <label>Marca:</label>
      <div class="input-group">
        {{form.marca}}
      </div>
    </div>

    <div class="cell medium-6">
        <label>Unidad de Medida:</label>
        <div class="input-group">
          <span class="input-group-label"><i class="fi-price-tag"></i></span>
          {{ form.unit }}
        </div>
      </div>
    <div class="cell medium-6">
      <label>Fecha de Vencimiento:</label>
      <div class="input-group">
        <span class="input-group-label"><i class="fi-calendar"></i></span>
        {{ form.due_date }}
      </div>
    </div>

    <div class="cell medium-6">
        <label>Precio Compra:</label>
        <div class="input-group">
          <span class="input-group-label"><i class="fi-dollar"></i></span>
          {{form.purchase_price}}
        </div>
        {% for error in form.purchase_price.errors %}
          <p class="cell" style="color: red;">
            {{ error|escape }}
          </p>
        {% endfor %}
    </div>
    <div class="cell medium-6">
        <label>Precio Venta:</label>
        <div class="input-group">
          <span class="input-group-label"><i class="fi-dollar"></i></span>
          {{form.sale_price}}
        </div>
        {% for error in form.sale_price.errors %}
          <p class="cell" style="color: red;">
            {{ error|escape }}
          </p>
        {% endfor %}
    </div>

    <div class="cell medium-12">
      <label>Cantidad en Almacen:</label>
      <div class="input-group">
        <span class="input-group-label"><i class="fi-list-number"></i></span>
        {{form.count}}
      </div>
    </div>

    <div class="cell medium-12">
        <label>Descripcion del producto:</label>
        <div class="input-group">
          {{form.description}}
        </div>
      </div>
    

    <div class="cell medium-6">
      <button type="submit" class="success button" style="width: 200px;">Guardar</button>
      {% if product %}
      <a href="{% url 'producto_app:producto-delete' product.id %}" class="alert button clear">Eliminar</a>
      {% endif %}
    </div>
  </form>
</div>

{% endblock panel-content %}